@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(0deg, rgba(26, 24, 24, 0.95), rgba(26, 24, 24, 0.95)), url('../../public/background.jpg'); /* Path relative to the static folder */
  background-size: cover;       /* Cover the entire element */
  background-position: center;  /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating */
  min-height: 100vh;            /* Full viewport height */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes rgb-flow {
  0% {
    background-position: 300% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rgb-flow-gradient {
  background: linear-gradient(270deg, #ff0080, #00ffcc, #00aaff, #ff0080);
  background-size: 150% 150%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: rgb-flow 3s ease infinite;
}
